<div class="panel panel-default col-xs-10 col-xs-offset-1" id="thankyou">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
    <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwU5OR0bUAIpwa1LJxQKdIZrc1dPNUhJ-p2KbjwNIQw6F9xmyU" width=100 height=100></p>
    <button><%= link_to 'back', simple_pages_landing_page_path %></button>
  </div><!-- / panel-body -->
</div><!-- / panel -->
