<table>
  <tbody>
    <tr>
      <td><h2>Thank you for purchasing</h2></td>
    </tr>
    <tr>
      <td><p>You can view your order at
        <a href="https://saware-supplychain-solution.herokuapp.com/orders/<%= @message %>">here</a>
      </p></td>
    </tr>
    <tr>
      <td><p><strong>Your Saware Team!</strong></p></td>
    </tr>
  </tbody>
</table>
