// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2 {
  font-family: sans-serif;
  color: blue;
  text-align: center;
  margin-top: 50px;
}

#carousel-generic {
  margin: 25px auto;
}

//Thank you page
#thankyou {
  position: absolute;
  bottom: 40%;
  width: 85%;
  height: 250px;
  margin: 0 auto;
  background-color: #90EE90;
  text-align: center;
}

#thankyou button {
  width: 100px;
  height: 50px;
}

@media only screen and (min-width: 480px) {
  #thankyou {
    left:8%;
    height: 225px;
  }
}

@media only screen and (min-width: 640px) {
  #carousel-generic { width: 640px; }
}
